{% if content.items %}
  <div class="silc-grid silc-grid--collapse silc-grid--justify-center feed-grid">

    {% for item in content.items %}
      <div class="silc-grid__col silc-grid__col--6-800 silc-grid__col--4-1200">
        <div class="feed-item">
          {% if item.thumbnail.src %}
            <div class="feed-item__image">
              <img src="{{ TimberImage(item.thumbnail.src) }}" alt="">
            </div>
          {% endif %}
          <div class="feed-item__content">
            <span class="feed-item__date">{{ item.date }}</span>
            <h2 class="feed-item__title">
              <a href="{{ item.link }}">{{ item.title }}</a>
            </h2>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a href="/blog" class="fancy-link">See All</a>
{% endif %}
