{% if content.cards %}
  <div class="silc-grid silc-grid--justify-center cards-grid">
    {% for card in content.cards %}
      <div class="silc-grid__col silc-grid__col--6-800 silc-grid__col--4-1200">
        {% include "components/card.twig" with {'content': card} %}
      </div>
    {% endfor %}
  </div>
{% endif %}