{% if content.steps %}
  <div class="our-process">
    {% for step in content.steps %}
      <div class="our-process__step">
        <div class="our-process__step-body editor-output">
          {% if step.icon %}
            <div class="our-process__step-icon" aria-hidden="true">
              <img src="{{ step.icon.url }}" alt="">
            </div>
          {% endif %}
          <div class="our-process__step-content">
            {% if step.title %}
              <h2>{{ step.title }}</h2>
            {% endif %}
            {% if step.text %}
              {{ step.text }}
            {% endif %}
          </div>
          {% if step.ctas %}
            <div class="our-process__step-ctas">
              {% for cta in step.ctas %}
                {% if cta.title %}
                  <h3>{{ cta.title }}</h3>
                {% endif %}
                {% if cta.links %}
                  {% for link in cta.links %}
                    {% include "helpers/link.twig" with {'link': link.link} %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        {% set next = content.steps[ loop.index + 1] %}
        {% if next or step.sub_steps %}
          <div class="our-process__arrows">
            {% if step.sub_steps %}
              {% for sub_step in step.sub_steps %}
                <div class="our-process__arrow" role="presentation"></div>
              {% endfor %}
            {% else %}
              <div class="our-process__arrow" role="presentation"></div>
            {% endif %}
          </div>
        {% endif %}
      </div>
      {% if step.sub_steps %}
        <div class="our-process__step our-process__step--multi">
          <div class="our-process__step-body editor-output">
            <ul class="our-process__tabs">
              {% for sub_step in step.sub_steps %}
                <li><button class="our-process__tab button" id="process-{{ loop.parent.loop.index }}-{{ loop.index }}-tab">{{ sub_step.tab }}</button></li>
              {% endfor %}
            </ul>
            {% for sub_step in step.sub_steps %}
              <div class="our-process__sub-step" id="process-{{ loop.parent.loop.index }}-{{ loop.index }}-step">
                <div class="our-process__sub-step-body editor-output">
                  {% if sub_step.title %}
                    <h2 class="h4">{{ sub_step.title }}</h2>
                  {% endif %}
                  {% if sub_step.text %}
                    {{ sub_step.text }}
                  {% endif %}
                  {% if sub_step.link %}
                    {% include "helpers/link.twig" with {'link': sub_step.link, 'class': 'button button--green button--large'} %}
                  {% endif %}
                </div>
                <div class="our-process__arrows">
                  <div class="our-process__arrow" role="presentation"></div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
{% endif %}