{% if section %}
  <div class="section">
    <div class="compartment{% if section.constrained %} compartment--constrained{% endif %}">
      {% if section.title %}
        <h2>{{ section.title }}</h2>
      {% endif %}
      {% include "partial/widgets.twig" with { 'widgets': section.widgets } %}
    </div>
  </div>
{% endif %}