<div class="testimonial{% if content.blockquote.image %} testimonial--image{% endif %}">
  <div class="silc-grid silc-grid--collapse silc-grid--no-gutters">
    <div class="silc-grid__col silc-grid__col--7-1024 silc-grid__col--6-1100">
      <div class="testimonial__content">
        {% if content.title %}
          <h2 class="testimonial__heading">{{ content.title }}</h2>
        {% endif %}
        {% if content.text %}
          <div class="testimonial__body">
            {{ content.text }}
          </div>
        {% endif %}
        {% if content.link %}
          {% include "helpers/link.twig" with {'link': content.link, 'class': 'fancy-link'} %}
        {% endif %}
      </div>
    </div>
    <div class="silc-grid__col silc-grid__col--5-1024 silc-grid__col--6-1100">
      {% if content.blockquote %}
        {% include "components/blockquote.twig" with {'content': content.blockquote} %}
      {% endif %}
    </div>
  </div>
</div>