<div class="testimonial-cta">
  {% if content.image %}
    <div class="testimonial-cta__image">
      <img src="{{ content.image.url }}" alt="{{ content.image.alt }}">
    </div>
  {% endif %}
  <div class="testimonial-cta__content">
    {% if content.author %}
      <div class="testimonial-cta__name">{{ content.author }}</div>
    {% endif %}
    {% if content.source %}
      <div class="testimonial-cta__location">{{ content.source }}</div>
    {% endif %}
    {% if content.quote %}
      <blockquote class="testimonial-cta__quote">{{ content.quote }}</blockquote>
    {% endif %}
    {% if content.link %}
      {% include "helpers/link.twig" with {'link': content.link, 'class': 'testimonial-cta__link'} %}
    {% endif %}
  </div>
</div>