{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="header" >


		    <div class="header-1 container-fluid">

		    	<div class="logoWrapper">
		    		{{function('the_custom_logo')}}
		    	</div>

		    	<div class="rightPart">
		    		<div>
		    			<ul class="list-unstyled">
		    				<li><a href="#">Atheletics</a></li>
		    				<li><a href="#">Arts</a></li>
		    				<li><a href="#">News &amp; Events</a></li>
		    				<li><a href="#">Giving</a></li>
		    			</ul>
		    		</div>
		    		<div>
		    			<ul class="list-unstyled">
		    				<li>
		    					<a href="#">Request Info</a>
		    				</li>
		    				<li>
		    					<a href="#">Apply</a>
		    				</li>
		    				<li>
		    					<a href="#">Visit</a>
		    				</li>
		    			</ul>		
		    		</div>
		    		<div>
		    			<ul class="list-unstyled dropdown">
		    				<li><span>Campus Tools</span>

								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" x="0" y="0" viewBox="0 0 98.148 98.148" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g>
									<g xmlns="http://www.w3.org/2000/svg">
										<path d="M0.587,33.457l47.072,47.075c0.75,0.75,2.078,0.75,2.828,0l47.076-47.076c0.375-0.375,0.586-0.884,0.586-1.414   c0-0.53-0.211-1.039-0.586-1.414L84.575,17.641c-0.391-0.391-0.901-0.586-1.414-0.586c-0.512,0-1.022,0.195-1.414,0.586   L49.074,50.314L16.399,17.642c-0.75-0.751-2.078-0.75-2.828,0L0.587,30.629C-0.195,31.41-0.195,32.676,0.587,33.457z" fill="#ffffff" data-original="#000000" style="" class=""/>
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									<g xmlns="http://www.w3.org/2000/svg">
									</g>
									</g>
								</svg>

		    				</li>		
		    				<ul class="dropdown-menu">
		    					<li>
		    						<a href="#">Dropdown 1</a>
		    					</li>
		    					<li>
		    						<a href="#">Dropdown 2</a>
		    					</li>
		    					<li>
		    						<a href="#">Dropdown 3</a>
		    					</li>
		    				</ul>
		    			</ul>
		    		</div>
		    		<div>
		    			<button class="searchBtn" type="button"><span class="screen-reader-text">Click to search</span><img src="{{ theme.link }}/static/images/maginifying-glass.png" height="18" width="18"></button>
		    		</div>
		    	</div>

			</div>


			<div class="header-2 d-flex">
				<div class="menuWrapper">
					<nav id="nav-main" class="menuNav" role="navigation">
						{% include "menu.twig" with {'items': menu.get_items} %}
					</nav>
				</div>
				<div class="menuanchorWrpr">
					<button type="button" class="anchorBtn">
						<span class="text">Full Menu</span>
						<span class="burgerMenu"></span>
					</button>
				</div>
			</div>

{# 
			{% block header %}
				<div class="wrapper">
					<h1 class="hdr-logo" role="banner">
						<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'items': menu.get_items} %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
 #}


		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			
			{% include 'footer.twig' %}
			
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
