<footer id="footer" class="footer">
	<div class="container-fluid footerContF">
		<div class="container">
			<div class="row mainRow">
				<div class="column-first column">
					<a href="#" class="footerLogo">
						<img src="{{site.link}}/wp-content/uploads/2021/06/footer-logo.png" alt="footer logo" class="img-fluid">
					</a>

					<address>2001 Alford Park Drive Kenosha, WI 53140 (262) 551-8500</address>

					<ul class="quicklink list-unstyled d-flex">
						<li><a href="#">Contact</a></li>
						<li><a href="#">Map & Directions</a></li>
					</ul>
				</div>
				<div class="column-last column">
					<ul class="list-unstyled d-flex topLink">
						<li>
							<a href="#">Request Info</a>
						</li>
						<li>
							<a href="#">Apply</a>
						</li>
						<li>
							<a href="#">Visit</a>
						</li>
						<li>
							<a href="#">Give</a>
						</li>
					</ul>

					<img src="{{theme.link}}/static/images/curve-wave-line.svg" class="img-fluid footerRightLine">

					<ul class="list-unstyled multiLink">
						<li>
							<a href="#">Athletics</a>
						</li>
						<li>
							<a href="#">Bookstore</a>
						</li>
						<li>
							<a href="#">COVID-19</a>
						</li>
						<li>
							<a href="#">Directory</a>
						</li>
						<li>
							<a href="#">Library</a>
						</li>
						<li>
							<a href="#">OneLogin</a>
						</li>
						<li>
							<a href="#">The Bridge</a>
						</li>
						<li>
							<a href="#">Virtual Tour</a>
						</li>
						<li>
							<a href="#">Work at Carthage</a>
						</li>
					</ul>

					<ul class="socialList list-unstyled d-flex">
						<li>
							<a href="#"><img src="http://localhost/carthage/wp-content/uploads/2021/06/instagram.png" alt=""></a>
						</li>
						<li>
							<a href="#"><img src="http://localhost/carthage/wp-content/uploads/2021/06/twitter.png" alt=""></a>
						</li>
						<li>
							<a href="#"><img src="http://localhost/carthage/wp-content/uploads/2021/06/facebook.png" alt=""></a>
						</li>
						<li>
							<a href="#"><img src="http://localhost/carthage/wp-content/uploads/2021/06/youtube.png" alt=""></a>
						</li>
						<li>
							<a href="#"><img src="http://localhost/carthage/wp-content/uploads/2021/06/in.png" alt=""></a>
						</li>
						<li>
							<a href="#"><img src="http://localhost/carthage/wp-content/uploads/2021/06/flicker.png" alt=""></a>
						</li>
						<li>
							<a href="#"><img src="http://localhost/carthage/wp-content/uploads/2021/06/m.png" alt=""></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="copyRightContF container-fluid">
		<div class="container text-center">
			<ul class="list-unstyled d-flex">
				<li>
					<span> © Carthage College</span>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
				<li>
					<a href="#">Accessibility</a>
				</li>
				<li>
					<a href="#">Non-Discrimination Statement</a>
				</li>
				<li>
					<a href="#">Policies</a>
				</li>
			</ul>
		</div>
	</div>
{# Copyright {{"now"|date('Y')}} #}
</footer>


