{% extends "base.twig" %}

{% block content %}

<div class="homePageHero" id="homeHeroCont" style="--herobg: url({{site.link}}/wp-content/uploads/2021/06/home-banner.jpg)">

	<div class="rightNotice"><span><a href="#">Read Carthage College COVID-19 Information</a></span> <button class="p-0 btn" type="button"><img src="{{theme.link}}/static/images/close-red.png"></button> </div>

	<div class="container heroContainer1" id="heroContentCont1" >
		<div class="contentLeft" id="hContent">
			<h1 class="title"><span class="outline one">Find<br><span class="two">Your</span></span><span class="three" id="more">More</span></h1>
		</div>
		<a href="#" class="btn bannerBtn d-none" data-modal="modal-1" id="hBtn">Discover Carthage</a>

	</div>
	

	<img src="{{theme.link}}/static/images/banner-left-curve.svg" alt="" class="waveImg d-none" id="hWave">

	<div class="homeHeroRightNotice" id="heroRightNotice">
		<span>President Announces Phased Return-to-Campus Plan </span>
		<a href="#"><span class="underline">Read More</span> <span class="cricledBtn">+</span></a>
	</div>


	<div class="container heroContent2 d-none" id="heroContentCont2">


		<div class="row">
			<div class="column one">
				<h2 class="dualRedBlack"><span class="red">Learn  <span class="d-block">More</span></span> <span class="d-block">than</span> <span class="d-block">the</span> <span class="d-block">Basics</span> </h2>
			</div>
			<div class="column two">
				<div class="heroDualBoxWrpr d-flex text-center">
					<div>
						<h2 class="title">I have an area  of study in mind</h2>
						<a href="#" class="btn btn-red">Browse Majors + Minors</a>
					</div>
					<div>
						<h2 class="title">I haven't <br>decided yet</h2>
						<a href="#" class="btn btn-red">Help me decide</a>
					</div>
				</div>
			</div>
		</div>
			
	</div>


</div>



<div class="container-fluid p-0 afterHeroContF">

	<img src="{{theme.link}}/static/images/wave-2.svg" class="img-fluid wave2" id="wave2">

	<div class="container afterHero">

		<img src="{{site.link}}/wp-content/uploads/2021/05/vertical-lines.png" id="verLine" class="multiVerticalline img-fluid" alt="">

		<div class="row">
			<div class="column one">
				<img src="{{site.url}}/wp-content/uploads/2021/06/man.jpg" alt="" class="img-fluid">
			</div>
			<div class="column two">


			<div class="testimonialWrpr">
				<img src="{{theme.link}}/static/images/quote.svg" class="img-fluid quoteImg">


				<div class="swiper-container" id="testimonialSlider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<p>The professors have stimulated me intellectually and challenged me to be the best that I can be. I could not be more grateful for the opportunities that Carthage has allotted to me.”</p>
							<p class="author"><span class="lineBefore"></span>Jacelyn Peabody ’15</p>
						</div>
						<div class="swiper-slide">
							<p>The professors have stimulated me intellectually and challenged me to be the best that I can be. I could not be more grateful for the opportunities that Carthage has allotted to me.”</p>
							<p class="author"><span class="lineBefore"></span>Jacelyn Peabody ’15</p>
						</div>
						<div class="swiper-slide">
							<p>The professors have stimulated me intellectually and challenged me to be the best that I can be. I could not be more grateful for the opportunities that Carthage has allotted to me.”</p>
							<p class="author"><span class="lineBefore"></span>Jacelyn Peabody ’15</p>
						</div>
					</div>
				</div>
				

			</div>
				
				

				
			</div>
			<div class="column three">
				<div class="imgWrpr wow fadeInUp" data-wow-delay="1s" style="--imgWrprBg: url({{site.link}}/wp-content/uploads/2021/06/inspace.jpg)">
					
					<button class="btn bottomBtn" data-modal="imgModal"><span class="hoverText">What gravity?</span><span class="plusSign">+</span></button>
					<div class="bottomPopup" id="imgModal">
						<button type="button" class="btn closeBtn" data-target-modal="imgModal"><img src="{{theme.link}}/static/images/white-close.png"></button>
						<p>Carthage students and faculty regularly conduct research aboard NASA’s zero-gravity aircraft, as part of ongoing experiments and technology development for space hardware. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid accordContF" style="--accorBg: url({{site.link}}/wp-content/uploads/2021/06/togglebg.jpg)">
	<div class="container" style="max-width: 1300px;">


		<div class="accrodionWrapper">
			<div class="btnWrapper">
				<button type="button" data-accord-target="skill-1" class="accordbtn active"><span>Nurse +</span><span>Globetrotter</span></button>
				<button type="button" data-accord-target="skill-2" class="accordbtn"><span>Scientist +</span><span>Cellist</span></button>
				<button type="button" data-accord-target="skill-3" class="accordbtn"><span>Engineer +</span><span>Athlete</span></button>
			</div>

			<div>
				<div class="contentWrapper active" id="skill-1">
					<div class="left">

						<h3>Isabella’s Story</h3>
						<p>Nursing is my career of choice, but travel is my passion. At Carthage, I learned how the global perspective I've gained through a recent trip to India can help me deliver better care outcomes here at home.</p>
						<p><a href="#">Bachelor of Science in Nursing program</a></p>
						<p><a href="#">Study Abroad</a></p>

					</div>

					<div class="right">
						<img src="{{site.link}}/wp-content/uploads/2021/06/isabellas.jpg" class="
						img-fluid">
					</div>
				</div>

				<div class="contentWrapper" id="skill-2">
					<div class="left">

						<h3>Isabella’s Story</h3>
						<p>Nursing is my career of choice, but travel is my passion. At Carthage, I learned how the global perspective I've gained through a recent trip to India can help me deliver better care outcomes here at home.</p>
						<p><a href="#">Bachelor of Science in Nursing program</a></p>
						<p><a href="#">Study Abroad</a></p>

					</div>

					<div class="right">
						<img src="{{site.link}}/wp-content/uploads/2021/06/isabellas.jpg" class="
						img-fluid">
					</div>
				</div>

				<div class="contentWrapper" id="skill-3">
					<div class="left">

						<h3>Isabella’s Story</h3>
						<p>Nursing is my career of choice, but travel is my passion. At Carthage, I learned how the global perspective I've gained through a recent trip to India can help me deliver better care outcomes here at home.</p>
						<p><a href="#">Bachelor of Science in Nursing program</a></p>
						<p><a href="#">Study Abroad</a></p>

					</div>

					<div class="right">
						<img src="{{site.link}}/wp-content/uploads/2021/06/isabellas.jpg" class="
						img-fluid">
					</div>
				</div>
			</div>
				

		</div>

		<div class="rightContent wow fadeInUp">
			<div class="content">
				<h2 class="title text-red"><span class="d-block">Develop</span> <span class="d-block">More</span> <span class="text-dark-green"><span class="d-block">than</span> <span class="d-block">Job</span> <span class="d-block">Skills</span></span></h2>
				<p class="p1">At Carthage, every student is more than their major. </p>
				<p class="p2">Every person is more than their job. And everyone is welcome to find their “more.”</p>
			</div>
		</div>

		<img src="{{theme.link}}/static/images/group-7.svg" class="img-fluid rightWave" >


		<div class="bottomRightSticker">
			<span>HOME OF THE FIREBIRDS</span> <span class="block">#CarthageViews</span>
		</div>

	</div>
</div>


<div class="container-fluid accordContF2">
	<img src="{{theme.link}}/static/images/wave-2.svg" class="img-fluid wave2" id="wave2">
	<div class="container">
	<h2 class="title"><span>Build More</span> than a Career</h2>
		<div class="accrodionWrapper">
			<div class="btnWrapper">
				<button class="accordbtn active" data-accord-target="accrod-1">Aspire Career<br>Preparation Program</button>
				<button class="accordbtn " data-accord-target="accrod-2">4-Year Graduation<br>Guarantee</button>
				<button class="accordbtn " data-accord-target="accrod-3">Mentorship &<br>Exploration</button>
			</div>

			<div class="contentWrapper active" id="accrod-1">
				<div class="left">
					<img src="{{site.link}}/wp-content/uploads/2021/06/16_outdoorRiverclass_JH-2.jpg" class="
					img-fluid wow fadeInUp" >
				</div>
				<div class="right wow fadeInUp"  data-wow-delay="800ms">

					<p>Professional planning starts early at Carthage to help students find careers that reward passion, contribute meaning, and spark joy.</p>
					<p class="link"><a href="#">More About the Program</a></p>

					<br>
					<div class="badge text-uppercase"><span>Did you know…</span></div>
					<div class="didYouknwoCotent">
						<span class="bigger">90%</span>
						<span>of Carthage alumni report that they have secured a job or are continuing their studies six months after graduation.</span>
					</div>
				</div>
			</div>


			<div class="contentWrapper" id="accrod-2">
				<div class="left">
					<img src="{{site.link}}/wp-content/uploads/2021/06/16_outdoorRiverclass_JH-2.jpg" class="
					img-fluid">
				</div>
				<div class="right">

					<p>Professional planning starts early at Carthage to help students find careers that reward passion, contribute meaning, and spark joy.</p>
					<p class="link"><a href="#">More About the Program</a></p>

					<br>
					<div class="badge text-uppercase"><span>Did you know…</span></div>
					<div class="didYouknwoCotent">
						<span class="bigger">90%</span>
						<span>of Carthage alumni report that they have secured a job or are continuing their studies six months after graduation.</span>
					</div>
				</div>
			</div>


			<div class="contentWrapper"  id="accrod-3">
				<div class="left">
					<img src="{{site.link}}/wp-content/uploads/2021/06/16_outdoorRiverclass_JH-2.jpg" class="
					img-fluid">
				</div>
				<div class="right">

					<p>Professional planning starts early at Carthage to help students find careers that reward passion, contribute meaning, and spark joy.</p>
					<p class="link"><a href="#">More About the Program</a></p>

					<br>
					<div class="badge text-uppercase"><span>Did you know…</span></div>
					<div class="didYouknwoCotent">
						<span class="bigger">90%</span>
						<span>of Carthage alumni report that they have secured a job or are continuing their studies six months after graduation.</span>
					</div>
				</div>
			</div>



		</div>
	</div>


<div class="container text-center boxLinkWrpr">
	<h2 class="dualRedBlack title"><span>Get More</span> info on Admissions</h2>
	<div class="btnWrpr">
		<button class="btn">Request Info</button>
		<button class="btn">Apply</button>
		<button class="btn">Virtual Tour</button>
	</div>

	<div class="content d-flex">
		<span class="before text-uppercase">Info For...</span>
		<ul class="list-unstyled d-flex text-uppercase">
			<li><a href="#">First-Generation Students  ›</a></li>
			<li><a href="#">Transfer Students ›</a></li>
			<li><a href="#">Parents + Families ›</a></li>
		</ul>
	</div>
</div>


</div>






<div class="container-fluid afterBoxLinkWrpr" style="--afterBoxBg: url({{site.link}}/wp-content/uploads/2021/06/Group-42.jpg)">

	
<img src="{{site.link}}/wp-content/themes/starter-theme/static/images/group-7.svg" class="img-fluid rightWave">
	<div class="spacer">
		<div class="container-fluid hangoutWrprContF">
			<div class="container hangoutWrpr">
				
				
				<h2 class="mainTitle dualRedBlack text-center text-uppercase"><span>Do More</span> than Hang out</h2>

				<div class="columnWrpr">
					<div class="row">
						<div class="column">
							<h3 class="title text-center">News</h3>

							<div class="row contentRow">
								<div class="newsThumb">
									<img src="{{site.link}}/wp-content/uploads/2021/06/news-1.jpg" class="img-fluid">
								</div>
								<div class="newsContent">
									<p><a href="#" class="link">New team name: We are Carthage Firebirds!</a></p>
								</div>
							</div>

							<div class="row contentRow">
								<div class="newsThumb" >
									<img src="{{site.link}}/wp-content/uploads/2021/06/news-2.jpg" class="img-fluid">
								</div>
								<div class="newsContent">
									<p><a href="#" class="link">Carthage to open School of Business and Economics</a></p>
								</div>
							</div>

							<div class="row contentRow">
								<div class="newsThumb">
									<img src="{{site.link}}/wp-content/uploads/2021/06/news-3.jpg" class="img-fluid">
								</div>
								<div class="newsContent">
									<p><a href="#" class="link">Donors pledge over $500,000 to equity, inclusion at Carthage</a></p>
								</div>
							</div>

							<div class="container eventFooter">
								<hr class="lineSeperator">
								<div class="d-flex linkWrpr">
									<a href="#">View All News</a>
									<a href="#">Read the Bridge</a>
								</div>
							</div>
						</div>


						<div class="column">
							<h3 class="title text-center">Events</h3>

							<div class="eventRow row">
								<div class="dateWrpr text-uppercase">
									<span>Feb</span>
									<span class="number">21</span>
								</div>
								<div class="descp">
									<p><a class="link" href="#">Carthage Theatre Presents: ‘Eurydice’</a></p>
								</div>
							</div>
							<div class="eventRow row">
								<div class="dateWrpr text-uppercase">
									<span>Feb</span>
									<span class="number">22</span>
								</div>
								<div class="descp">
									<p><a class="link" href="#">H. F. Johnson Gallery of Art Presents: ‘Two Men and a Truck’</a></p>
								</div>
							</div>
							<div class="eventRow row">
								<div class="dateWrpr text-uppercase">
									<span>Feb</span>
									<span class="number">22</span>
								</div>
								<div class="descp">
									<p><a class="link" href="#">Merely Players Valentine’s Day Improv Show</a></p>
								</div>
							</div>

							

							<div class="container eventFooter">
								<hr class="lineSeperator">
								<div class="d-flex linkWrpr">
									<a href="#">View All Events</a>
									<a href="#">Watch Events Online</a>
								</div>
							</div>


							<div class="athleticWrpr row">
								<div>
									<img src="{{site.link}}/wp-content/uploads/2021/06/Rectangle.jpg" alt="" class="img-fluid">
								</div>
								<div>
									<h3 class="athletTitle">Firebirds Climb in CCIW Volleyball Standings</h3>
									<a class="anchorLink" href="#">View Athletic</a> <a class="anchorLink" href="#">Schedule ›</a>
								</div>
							</div>

								

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


		
</div>

<div class="container-fluid socialContF" style="--bgImg: url('{{site.link}}/wp-content/uploads/2021/06/Group-44.jpg')">
	<div class="container socialCont">
		<div class="row socialGridRow">
			<div class="column">
				<div class="gridWrpr d-flex">
					<div class="one">
						<h3>Find More than Friends</h3>
						<p>Carthage is a vital part  of the broader  Kenosha community.</p>
						<p><a href="#" class="anchorLink">Carthage College Instagram</a></p>
					</div>
					<div style="background-image: url({{site.link}}/wp-content/uploads/2021/06/group.jpg);"></div>
					<div style="background-image: url({{site.link}}/wp-content/uploads/2021/06/girl.jpg);"></div>
					<div style="background-image: url({{site.link}}/wp-content/uploads/2021/06/sun.jpg);"></div>
				</div>
			</div>
			<div class="column"></div>
		</div>
	</div>
</div>


<div class="modelWrapper container-fluid" id="modal-1">
	<button type="button" class="btn closeBtn" data-target-modal="modal-1">Close <img src="{{theme.link}}/static/images/close.png"></button>
	<div class="container">
		<div class="row">
			<div class="column one">
				<h2 class="title">President Announces Phased Return-to-Campus Plan</h2>
			</div>
			<div class="column two">
				<img src="{{site.link}}/wp-content/uploads/2021/06/16_Nursing_JH-26.jpg" class="img-fluid">
			</div>
			<div class="column three">
				<p>President John R. Swallow recently announced Carthage College’s phased plan for a safe return to a fully on-campus learning experience. Currently in phase two, with...Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam.</p>
				<p>Semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. </p>
			</div>
		</div>
				
	</div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
	var swiper = new Swiper("#testimonialSlider", {
		autoplay: {
          delay: 3500,
          disableOnInteraction: false,
        }
	});
});
	
</script>

{% endblock %}
