{% if content.columns %}
  <div class="silc-grid">
    {% for column in content.columns %}
      <div class="silc-grid__col silc-grid__col--{{ column.width }}-800">
        {% include "partial/widgets.twig" with {'widgets': column.widgets} %}
      </div>
    {% endfor %}
  </div>
{% endif %}