<div class="section section--padded">
  <div class="compartment">
    {% if widget_content.title %}
      <h2>{{ widget_content.title }}</h2>
    {% endif %}
    <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack">
      <thead>
        <tr>
          {% for header in widget_content.table.header %}
            <th>{{header.c}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in widget_content.table.body %}
          <tr>
            {% for td in row %}
              <td>{{td.c}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
